<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Jack</title>
</head>
<body>

<link href="/assets/css/custom.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<header></header>
<div id="chest">Booty<br><br><div id="booty"></div><br><br><div id="winner"></div></div>
<table class="board">
    <tr>
        <td colspan="2"><h3>Dealer's Hand: <span id="dscore">0</span></h3></td>

    </tr>
    <tr>
        <td rowspan="2" id="filler"></td>
        <td id="dealer" class="hand">0</td>
    </tr>
    <tr>
        <td id="user" class="hand"></td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>Your Hand: <span id="uscore"></span></h3>
        </td>
    </tr>
</table>

<footer id="menu"><table><tr>
    <td><button id="howTo">How To Play</button></td>
    <td><button id="split">Split</button></td>
    <td><button id="hit">HIT!</button></td>
    <td><button id="stay">STAY!</button></td>
    <td><button id="doubledown">Double Down</button></td>
    <td><button id="dealButton">Deal New Hand</button></td>
</tr></table>
</footer>
<script>

var game;

function display(game) {
    console.log(game);
    $( '.hand' ).html("");

    $.each(game.dealer.hand, function( key, val ) {
        if(key==1 && !game.winner){
        $( '#dealer' ).append("<img src='assets/cards/Back.png' alt=nothing class=cardLocation>");
        }
        else{
            $( '#dealer' ).append("<img src='assets/cards/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
        }
    });

    $.each(game.user.hand, function( key, val ) {
        $( '#user' ).append("<img src='assets/cards/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
    });

    $('#booty').html("$"+game.user.dough);

    $('#uscore').html(game.user.sum);

    if(game.winner){
        $('#winner').html("Winner:<br>"+game.winner+"!");
        $('#dscore').html(game.dealer.sum);
    }
    else{
        $('#winner').html("");
    }

}

$.getJSON("http://localhost:8080/game", function( data ) {
    display(data);
    game = data;
});


$("#dealButton").click(function(){
    $.ajax({
        type: "POST",
        url: "/dealGame",
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
    $('#dscore').html("0");
});

$("#hit").click(function(){
    $.ajax({
        type: "POST",
        url: "/hit",
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

$("#stay").click(function(){
    $.ajax({
        type: "POST",
        url: "/stay",
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

$("#doubledown").click(function(){
    $.ajax({
        type: "POST",
        url: "/dbldwn",
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

$("#split").click(function(){
    $.ajax({
        type: "POST",
        url: "/split",
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

$("#howTo").click(function(){
    $(".howtoplay").toggleClass("display");
});

$("#credit").click(function() {
   $(".credit").toggleClass("display");
});
</script>



</body>
</html>